<h1 id="titleheader">
  Here is the Article
</h1>
<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>
<p>
  <%= link_to 'edit this article', edit_article_path(@article) %>
</p>
<%= link_to 'Show all articles', articles_path %>