$navbar-default-bg: red;

@import "bootstrap-sprockets";
@import "bootstrap";

#titleheader {
  text-indent: 3em;
  font-size: 1.7em;
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
}

#logo {
  
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}


#logo:hover {
  color: white;
  text-decoration: none;
  
}


.center {
  text-align: center;
  
  
}

.jumbotron {
  
  background-image: asset-url('coffee.jpg');
  background-size: cover;
  height: 700px;
  
}


.jumbotron h1 {
  color: black; 
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  
}


.btn-xlg {
  
  font-size: 1.7em;
  background-color: black;
  
}

.artricle-meta-details {
  
  border-top: 1px dotted grey;
  margin-top: 15px;
  text-align: right;
  margin-bottom: 1px;
  padding-bottom: 0px;
  color: grey;

}

.article-actions {
  
  border-top: 1px dotted red;
  padding-top: 5px;
 
}

.description {
  margin-top: 0;
  
}

.article_id {
   font-size: 1.7em;
  color: red;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px dotted red;
  padding-top: 15px;
  padding-bottom: 15px;
  
}



footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  
}

footer a:hover {
  color: red;
}

footer small {
  float: left;
}

footer ul {
 float: right;
 list-style: none;

}


footer ul li {
  float: left;
  margin-left: 15px;

}